<!DOCTYPE html>
<html>

  <link rel="stylesheet" type="text/css" href="~/css/styles.css"/>
  @{
    Layout = "_Layout";
  }
  <h1>Welcome to Dr.Sillystrings Factory</h1>
  <p>For repairs or help in answering any technical questions please check our list of availible Engineers to find a canidate who is licensed for that machine.</p>
  <br>
  <p>If you are looking for a new machine or have any questions pertaining to that machine please check out list of machines and the attached engineers that are capable of coducting the repairs.</p>

</html>