<!DOCTYPE html>
<html>

  <link rel="stylesheet" type="text/css" href="~/css/styles.css"/>
  @{
    Layout = "_Layout";
  }
  <h1 class="welcome-title">Welcome to Dr.Sillystrings Factory</h1>
  <p class="greet">For repairs or help in answering any technical questions please check our list of availible Engineers to find a canidate who is licensed to operate the Machine you're looking at.</p>
  <br>
  <p class="greet">If you are looking for a new machine or have any questions pertaining to a particular machine please check out our list of machines and the attached engineers that are capable of coducting the repairs.</p>

</html>